<%- include('partials/_head') %>
<body>
  <header>
    <h1>Películas y Series</h1>
    <div class="search-container">
      <input
        type="text"
        id="searchInput"
        name="query"
        placeholder="Buscar serie..."
      />
    </div>
  </header>
  <main class="container">
    <div class="card-grid" id="seriesContainer">
      <!-- Sección para mostrar las series -->
      <% for (let i = 0; i < seriesNames.length; i++) { %>
      <a href="/series/<%= seriesNames[i] %>" class="card serie-card">
        <img
          class="portada"
          src="<%= seriesCoverPaths[i] %>"
          alt="<%= seriesNames[i] %>"
        />
        <p class="button-6" role="button">
          <% const name = seriesNames[i]; %> <% if (name.length > 22) { %> <%=
          name.substring(0, 22) + "..." %> <% } else { %> <%= name %> <% } %>
        </p>
      </a>
      <% } %>
    </div>
  </main>
  <%- include('partials/_footer') %>
</body>
