<%- include('partials/_head') %>
<h1><%= seriesName %></h1>

<% if (seasons && seasons.length > 0) { %>
<div class="page-container">
  <div class="seasons-container">
    <% for (let i = 0; i < seasons.length; i++) { %>
    <div class="card-container">
      <div class="card-season">
        <div class="season-cover">
          <!-- Generar la URL de la imagen de portada -->
          <img
            src="/portadas/<%= seriesName %><%= i === 0 ? '' : i + 1 %>.png"
            alt="Portada de la temporada"
          />
        </div>
        <h3><%= seasons[i] %></h3>
        <a
          href="/series/<%= encodeURIComponent(seriesName) %>/<%= encodeURIComponent(seasons[i]) %>"
          class="btn btn-primary"
          >Ver capítulos</a
        >
      </div>
    </div>
    <% } %>
  </div>
</div>
<% } else { %>
<div id="popup" class="popup" style="display: block">
  <div class="popup-content">
    <span class="close" id="closePopup">&times;</span>
    <div class="popup-message">
      <div class="popup-text">
        <h3 style="text-align: center">Lo sentimos!!!</h3>
        <p style="text-align: center">
          No hay temporadas disponibles para esta serie.
        </p>
        <p style="text-align: center">Estamos trabajando en ello.</p>
        <div class="popup-image-left">
          <img src="/img/gif/work.gif" alt="GIF a la izquierda" />
        </div>
      </div>
    </div>
  </div>
</div>
<% } %> <%- include('partials/_footer') %>
