<%- include('partials/_head') %>
    <h1><%= seriesName %><%= season %></h1>
    <% if (videos && videos.length > 0) { %>
    <div class="video-list">
      <% for (let i = 0; i < videos.length; i++) { %>
      <div class="video-card">
        <p><%= videos[i].name %></p>
        <a
          href="/series/<%= seriesName %>/<%= season %>/<%= encodeURIComponent(videos[i].name) %>"
          >Ver video</a
        >
      </div>
      <% } %>
    </div>
    <% } else { %>
    <p>No hay videos disponibles para esta temporada.</p>
    <% } %>
    <%- include('partials/_footer') %>
