<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <title><%= seriesName %> - Temporada <%= season %></title>
  </head>
  <body>
    <h1><%= seriesName %> - Temporada <%= season %></h1>

    <% if (videos && videos.length > 0) { %>
    <div class="video-list">
      <% for (let i = 0; i < videos.length; i++) { %>
      <div class="video-card">
        <p><%= videos[i].name %></p>
        <a
          href="/series/<%= seriesName %>/<%= season %>/<%= encodeURIComponent(videos[i].name) %>"
          >Ver video</a
        >
      </div>
      <% } %>
    </div>
    <% } else { %>
    <p>No hay videos disponibles para esta temporada.</p>
    <% } %>

    <script src="../public/js/bootstrap.min.js"></script>
  </body>
</html>
